.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

img {
  object-fit:fill;
}
 
/* CREATE Recipe PAGE CSS */

.createRecipePage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreateRecipe {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

 
/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}
 

.custom-file-upload {
  border: 1px solid cornflowerblue;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 16px;
  width: 60%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.heart {
  cursor: pointer;
  font-size: 2rem;  
  /* position: absolute; */
  /* top: 37%;
  left: 4%; */
  /* border: 2px solid wheat; */
  border-radius: 50%;
  padding: 8px;
}

.heart.bookmarked {
  color: red;  
}

.heart:not(.bookmarked) {
  color: gray; 
}
.file-input {
   width: 40%;
}

.social-media-icon {
  width: 60px;
  height: 60px;
}

.share-btn {
   background-color: transparent !important;
  border: none  !important;
}

.share {
  color: black;
}

.email-img {
background-image:url(https://cdn-icons-png.flaticon.com/256/9840/9840614.png);
background-repeat:no-repeat;
background-position: center;
background-size: cover;
width: 40px;
 
}

.popover {
  width: 500px;
}

.rounded-card {
  border-radius: 0px 0px 28px 28px;
  background: white;
}

.rounded-card-img {
  border-radius: 28px 28px 0px 0px;

}

/* Styles for the active link */
.active-link {
  font-weight: bold;
  color: #ff6347; /* Tomato color, adjust as needed */
  text-decoration: underline;
}

.hero {
   padding: 50px ;
}

.hero-image-col {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.logout-btn{
  width: 100px;
  border: 1px solid red;
  background: none;
  border-radius: 24px;
  height: 35px;
}
.hero-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.hero-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.remove-bg {
  background: none;
  border-radius: 24px;
}

@media (max-width: 768px) {
  .hero {
    padding: 20px 0;
  }
  .hero-image-col {
    max-height: 300px; /* Adjust height on smaller screens */
  }
  .hero-image {
    border-radius: 10px;
  }
}